<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JiaoWu</display-name>
  <servlet>
    <servlet-name>VerificationServlet</servlet-name>
    <servlet-class>com.dc.servlet.VerificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificationServlet</servlet-name>
    <url-pattern>/Verification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YanZhengCode</display-name>
    <servlet-name>YanZhengCode</servlet-name>
    <servlet-class>com.dc.servlet.YanZhengCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YanZhengCode</servlet-name>
    <url-pattern>/YanZhengCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Regist</display-name>
    <servlet-name>Regist</servlet-name>
    <servlet-class>com.dc.servlet.Regist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regist</servlet-name>
    <url-pattern>/Regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCourseinfo</display-name>
    <servlet-name>GetCourseinfo</servlet-name>
    <servlet-class>com.dc.servlet.GetCourseinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseinfo</servlet-name>
    <url-pattern>/getCourseinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XuanKeInfo</servlet-name>
    <servlet-class>com.dc.servlet.XuanKeInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XuanKeInfo</servlet-name>
    <url-pattern>/xuanKeInfo</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.dc.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/exitServlet</url-pattern>
  </servlet-mapping>
</web-app>